$red: #fc341e;
$dark-red: #d02613;
$cta-red: #e71a04;
$lime: #70cb5d;
$green: #02c463;
$aqua: #00d1d9;
$orange: #ff7f00;
$black: #000000;
$white: #ffffff;
$grey: #919191;
$darkgrey: #1f1f1f;
$lightgrey: #f5f5f5;
$hotpink: hotpink;
$blue: #0814a8;
$darkgrey-kh: #16171e;
$off-white: #fbfbfb;

$font-primary: "Sofia Pro", sans-serif;

$break-mobile: 321px;
$break-content: 450px;
$break-tablet: 567px;
$break-desktop: 768px;
$break-desktop-med: 1090px;
$break-desktop-wide: 1200px;
$break-desktop-extra-wide: 1550px;

// $container-width: (1080 / $font-size) * 1em;
// $container-extended-width: (1260 / $font-size) * 1em;
// $container-slim-width: (820 / $font-size) * 1em;
// $container-content-width: (608 / $font-size) * 1em;
$container-content-max-width: 450px;

// $container-box-width: (512 / $font-size) * 1em;

$margin-bottom: 30px;

$padding-small: 0.4em;
$padding-medium: 0.8em;
$padding-large: 1.6em;
$padding-xl: 2.4em;
$padding-xxl: 4em;

$transition: 0.4s;
