/* Fonts */
$primary-font: sans-serif;
$font-size-base: 16;
$font-size-small: 14;
$line-height-base: 26;

/* Colours */
$black: #000000;
$white: #ffffff;

/* Breakpoints */
$break-mobile: 321px;
$break-tablet: 567px;
$break-desktop: 768px;
$break-desktop-med: 1090px;
$break-desktop-wide: 1200px;

$container-content-max-width: 450px;

/* Spacings */
$margin-bottom: 30px;
$padding-small: 0.4em;
$padding-medium: 0.8em;
$padding-large: 1.6em;
$padding-xl: 2.4em;
$padding-xxl: 4em;

$transition: 0.4s;

/* Layout Mixins */
@mixin bring-to-front {
  position: relative;
  z-index: 1;
}

@mixin all-bg-colors {
  &--bg-white {
    background-color: $white;
  }
  &--bg-black {
    background-color: $black;
  }
}
