body.site-default.page-node-type-landing-page,
body.site-default.page-node-type-initiative {
  .s-article-video-wrapper,
  .s-article-audio-wrapper,
  .article-download-wrapper {
    background-color: $black;
    color: $white;
  }

  .s-article-audio-card--no-img {
    border: none;
  }

  .article-download-module {
    background-color: $white;
    color: $black;
    .article-download-module-file__icon svg #Article-download-1440 {
      stroke: $black;
    }
  }
}

body.site-default.page-node-type-basic-page,
body.site-default.page-node-type-news,
body.site-default.page-node-type-press-release {
  .s-text-image-wrapper {
    background-color: $white;
    color: $black;
  }
}
