<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #fc341e;"></span>
    <span class="sg-label">Red: #fFC41E</span>
  </li>

  <li>
    <span class="sg-swatch" style="background: #fff"></span>
    <span class="sg-label">White: #FFF</span>
  </li>

  <li>
    <span class="sg-swatch" style="background: #000"></span>
    <span class="sg-label">Black: #000</span>
  </li>

  <li>
    <span class="sg-swatch" style="background: #70cb5d;"></span>
    <span class="sg-label">Lime: #70CB5D</span>
  </li>

  <li>
    <span class="sg-swatch" style="background: #00d1d9"></span>
    <span class="sg-label">Aqua: #00D1D9</span>
  </li>

  <li>
    <span class="sg-swatch" style="background: #ff7f00;"></span>
    <span class="sg-label">Orange: #FF7F00</span>
  </li>

</ul>
