{#
/**
 * @file
 * Override of a facet result item for content hub categories (content-types links).
 *
 * Available variables:
 * - value: The item value.
 * - raw_value: The raw item value.
 * - show_count: If this facet provides count.
 * - count: The amount of results.
 * - is_active: The item is active.
 * - facet: The facet for this result item.
 *   - id: the machine name for the facet.
 *   - label: The facet label.
 *
 * @ingroup themeable
 */
#}
<span class="facet-item__value">{{ value|replace({'_': ' '})|capitalize }}</span>
{% if show_count %}
  <span class="facet-item__count">({{ count }})</span>
{% endif %}
