<article{{ attributes }}>

  {% if not is_front %}

    {% set tagline = '' %}
    {% if node.hasField('field_tagline') %}
      {% set tagline = content.field_tagline %}
    {% endif %}

    {% set subtitle = '' %}
    {% if node.hasField('field_summary') %}
      {% set subtitle = content.field_summary %}
    {% endif %}

    {% set hero_image = '' %}
    {% if node.hasField('field_header_image') %}
      {% set hero_image = content.field_header_image %}
    {% endif %}

    {% include "@sections/hero-pages/_hero-pages.html.twig" with {
      tagline: tagline,
      title: label,
      subtitle: subtitle,
      image: hero_image
    }%}

    {% if node.bundle == 'basic_page' %}
      <div class="basic-page-header-white-padding"></div>
    {% endif %}

  {% endif %}

  {{ content.field_body }}

  {% if node.hasField('field_related_content') %}
    {{ content.field_related_content }}
  {% endif %}

  {% set catch_cache = content|render %}
</article>
