<div class="layout-container">

  {% include current_theme_path ~ '/templates/layout/header.html.twig' %}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

  </main>

  {% include current_theme_path ~ '/templates/layout/footer.html.twig' %}

</div>{# /.layout-container #}
